@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Architects Daughter', sans-serif;
  color: #333;
}

header {
  width: 100%;
  max-height: 10vh;
  padding: 2.4rem;
  margin-bottom: 4.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  text-transform: uppercase;
  font-size: min(4.8rem, 5vh);
}

main {
  height: calc(90vh - 3.6rem);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.4rem;

  padding-bottom: 6rem;
}

.names {
  display: flex;
  width: max(60vmin, 50rem);
  justify-content: space-evenly;
  align-items: center;
  gap: 1.8rem;

  font-size: 2.4rem;

  padding: 4.2rem 2.4rem 1.2rem 2.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  position: relative;
}

.name-container {
  padding: 2.4rem;
  border-radius: 8px;
  flex-basis: 50%;
  flex-shrink: 0;

  position: relative;
  opacity: 100%;
  transform: scale(1);
  transition: all 0.3s;
}

.name-container.inactive {
  opacity: 0%;
  transform: scale(0.5);
}

.name-label {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: min(3.2rem, 10vh);
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  position: relative;
}

.name-input {
  font: inherit;
  color: inherit;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  flex: 1;

  padding: 0.6rem 1.2rem;
  border-radius: 100px;
  border: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);

  position: relative;
}

.btn {
  background-color: #fff;
  border: 2px solid #333;
  font: inherit;
  color: inherit;
  font-size: 1.6rem;
  transition: background-color 0.4s ease-out, color 0.4s ease-out;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

.btn-round {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-25%, -50%);

  padding: 1.2rem;
  border-radius: 50%;

  width: 3rem;
  height: 3rem;
}

.name {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  padding: 0.6rem 1.2rem;
  position: relative;
  cursor: pointer;
}

.name-span {
  user-select: none;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;

  width: 60vmin;
  height: 60vmin;

  position: relative;
}

.result-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.board-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-1%, -1%);
  width: 102%;
  height: 102%;
  z-index: 1;

  backdrop-filter: blur(10px);
  display: block;
}

.result-text {
  font-size: 3.6rem;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.btn-start {
  font: inherit;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 400;

  padding: 1.2rem 2.4rem;

  border: 2px solid #222;
  border-radius: 100px;

  display: inline-flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.field {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0rem;
  font-weight: bold;

  z-index: 0;
  transition: font 0.2s;
}

.field.disabled {
  font-size: 10rem;
  cursor: not-allowed;
}

.hidden {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.6rem;
  text-align: center;
  font-size: 1.6rem;
  z-index: 10;
}

.github-link:link,
.github-link:visited {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  display: inline-block;
  transition: color 0.2s;
}

.github-link:hover,
.github-link:active {
  color: #777;
}

@media (max-width: 820px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 730px) {
  .names {
    flex-direction: column;
    gap: 0rem;
  }

  .name-container {
    padding: 1.2rem;
    padding-left: 2.4rem;
  }

  .name-label {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .board {
    width: 75vmin;
    height: 75vmin;
  }

  .result-container {
    width: 60%;
  }
}
