@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Raleway:wght@200;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Architects Daughter', sans-serif;
}

header {
  width: 100%;
  padding: 1.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  text-transform: uppercase;
  font-size: 7.2rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  width: min(75vw, 75vh);
  height: min(75vw, 75vh);
}

.field {
  border: 1px solid #eee;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 10rem;
  font-weight: bold;
}

.field.disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 3.6rem;
  text-align: center;
  font-size: 1.6rem;
}
